/*--------------------------------------------------------------
# Button Control
--------------------------------------------------------------*/


@mixin button-padding {
	padding: 12px 20px;
	
	@include mq(tablet){
		padding: 10px 15px;
	}
}


.main-btn {
  display: inline-block;
  vertical-align: middle; 
  font: inherit;
  text-align: center;
  margin: 0; 
  cursor: pointer; 
  padding: 0;
  @include vendor(border-radius, $small-border-radius);
  border: none;
  @include vendor(transition, $global-transition);
  
  	
  	@include hocus() {
  	  text-decoration: none;
  	}
  	
  	
}

.mobile-button{
	/*@include flex-center;*/
	width: 40px;
	height: 40px;
	background: red;
}


/* Mobile Navigation Button
   ===========================================================*/
   
   
.site-header .mobile-menu-button {
	
	
	@include mq(tablet){
		display: none;
	}
	
}

.menu-active .mobile-menu-button{
	display: none;
}

.back-top,
.mobile-menu-button,
.search-toggle {
	
	padding: 13px $mobile-side-pad;

	@include mq(tablet){
	padding: 13px 15px;
	}
	
	
}

.block-button {
	@include button-padding;
}


.block-button-empty {
	padding: 0;
	height: auto;
	width: auto;
	background-color: transparent;
	@include flexbox;
	@include align-items(center);
	
	@include hocus() {
		background-color: inherit;
	}
}



	.icon-left{
		padding-right: 10px;
	}
	
	.icon-right{
		padding-left: 10px;
	}




.block-button-icon {
	@include inline-flex;
	@include align-items(center);

	
}

.block-button-icon svg {
	@include font-size(25px);
}





//
// Page Navitaion
//


.page-nav .block-button {
	background-color: $off-white-footer;
	@include button-padding;
	
	@include hocus() {
		background-color: $post-meta;
		color: $off-white-footer;
	}
}

.page-nav .block-button:hover a {
	
	color: $off-white-footer;
}



//
// Read More Link
//

.home-hero-banner__detail .read-more,
.read-more {
	@include font-family(verdana);
	@include font-size(12px);
	text-decoration: none;
	background-color: $off-white-footer;
	@include font-weight(black);
	color: $post-meta;
	
	@include hocus() {
		background-color: $post-meta;
		color: $off-white-footer;
	}
	
	
	@include mq(desktop){
		@include font-size(14px);
	}
	
}

.home-hero-banner__detail .read-more {
	margin: $mobile-side-pad 0 0 ;
}

.home-hero-banner__detail .read-more svg{
	margin-left: 15px;
	margin-right: 0;
}



/*.mobile-menu-button{
	padding-left: $mobile-side-pad;
}*/