/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/

@import "../fontawesome/fontawesome.scss";
@import "../fontawesome/fa-solid";
@import "../fontawesome/fa-brands";

$widget-name: tribe-events-list-widget;
$widget-sub-class: tribe-events-list-widget-events;
$widget-sub-title: tribe-event-title;

/*Widget Defaults.*/
.widgets ul,
.widgets li,
.widgets ol,
.widgets li{
	
	&:not(:last-child) {
		margin-bottom: 10px;
		padding: 0;
	}
}

.widget,
.widgets,
.widget h2,
.widget-title {
	@include font-family(helvetica);
	@include font-weight(black);
	@include font-size(20px);
	text-align: left;
	margin-bottom: 20px;
	color: $base-black;
}

.widgets li,
.widgets p,
.widgets a {
	color: $base-black;
	text-decoration: none;
	@include font-size(15px);
	@include font-weight(normal);
}



.widget:not(:last-child) {
	padding-bottom: $widget-spacing;
}



//
// Widget Categories
//




.widget_categories li {
  @include fa-icon;
  @extend .fas;
	vertical-align: middle;
	
  &:before {
    content: fa-content($fa-var-archive);
	margin-right: 10px;
  }
}




.widget_archive li {
  @include fa-icon;
  @extend .fas;
	vertical-align: middle;
	
  &:before {
    content: fa-content($fa-var-folder);
	margin-right: 10px;
	
  }
}


.widget li a{
@include font-family(helvetica);
@include font-weight(normal);
}



.widget li:before {
top: -2px;
position: relative;
}