@charset "UTF-8";
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

// Variables
	# Sass MQ Mixins https://github.com/sass-mq/sass-mq
	# Sass Flexbox Mixins https://github.com/sass-mq/sass-mq
	# Sass Mixins
	# Global Sizing
	# Site Colours

// Site
# Images
# Root
# Reset
# Images
# Accessibility
# Clearing
# Alignments
# Animation
# Captions
# Button Control

// Content

# Page Basics
# Header Elements
# Footer Elements
# Post Elements

// Content

# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/* ==========================================================================
   #Site Global Sizes
   ========================================================================== */
.module-inner-wrap {
  max-width: 1220px;
  margin: auto;
  position: relative; }
  .module-inner-wrap:after {
    content: "";
    display: table;
    clear: both; }

.hide {
  display: none; }

/** -- Animation.--*!/*/
/*--------------------------------------------------------------
# Images
--------------------------------------------------------------*/
img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
  height: auto;
  display: block; }

/* SVG Sizing
   ========================================================================== */
.svg-icon {
  width: 1em;
  height: 1em;
  position: relative;
  top: 0; }

/* Hide SVG Region
   ========================================================================== */
.svg-region {
  display: none; }

/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */
html {
  font-size: 1em;
  /* [1] */
  line-height: 1.5;
  /* [1] */
  overflow-y: scroll;
  /* [2] */
  min-height: 100%;
  /* [3] */ }

/*--------------------------------------------------------------
# Reset
--------------------------------------------------------------*/
/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add box sizing inheritence in all browsers (opinionated).
 */
*,
::before,
::after {
  background-repeat: no-repeat;
  /* 1 */
  box-sizing: inherit;
  /* 2 */ }

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */ }

/**
 * 1. Correct the line height in all browsers.
 * 2. Add the default cursor in all browsers (opinionated).
 * 3. Prevent font size adjustments after orientation changes in IE and iOS.
 */
html {
  box-sizing: border-box;
  line-height: 1.15;
  /* 1 */
  cursor: default;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections (https://html.spec.whatwg.org/multipage/semantics.html#sections)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: .67em 0; }

a {
  word-wrap: break-word; }

/* Grouping content (https://html.spec.whatwg.org/multipage/semantics.html#grouping-content)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 0; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
  white-space: pre-line; }

/* Text-level semantics (https://html.spec.whatwg.org/multipage/semantics.html#text-level-semantics)
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ffff00;
  color: #000000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */
::-moz-selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none; }

/* Embedded content (https://html.spec.whatwg.org/multipage/embedded-content.html#embedded-content)
   ========================================================================== */
/*
 * Change the alignment on media elements in all browers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
  max-width: 100%; }

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg {
  fill: currentColor; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Tabular data (https://html.spec.whatwg.org/multipage/tables.html#tables)
   ========================================================================== */
/**
 * Collapse border spacing
 */
table {
  border-collapse: collapse; }

/* Forms (https://html.spec.whatwg.org/multipage/forms.html#forms)
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0; }

/**
 * Inherit styling in all browsers (opinionated).
 */
button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  line-height: inherit; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * 1. Remove the default vertical scrollbar in IE.
 * 2. Change the resize direction on textareas in all browsers (opinionated).
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */ }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive elements (https://html.spec.whatwg.org/multipage/forms.html#interactive-elements)
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting (https://html.spec.whatwg.org/multipage/scripting.html#scripting-3)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* User interaction (https://html.spec.whatwg.org/multipage/interaction.html#editing)
   ========================================================================== */
/*
 * Remove the tapping delay on clickable elements (opinionated).
 * 1. Remove the tapping delay in IE 10.
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation; }

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* ARIA (https://w3c.github.io/html-aria/)
   ========================================================================== */
/**
 * Change the cursor on busy elements (opinionated).
 */
[aria-busy="true"] {
  cursor: progress; }

/*
 * Change the cursor on control elements (opinionated).
 */
[aria-controls] {
  cursor: pointer; }

/*
 * Change the display on visually hidden accessible elements (opinionated).
 */
[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute; }

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */
[aria-disabled] {
  cursor: default; }

/* Type Reset
   ========================================================================== */
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Clearing
--------------------------------------------------------------*/
.clear:after {
  content: "";
  display: table;
  clear: both; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Animation Control
--------------------------------------------------------------*/
input,
button,
.animated {
  -webkit-transition: all 450ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 450ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 450ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 450ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 450ms cubic-bezier(0.645, 0.045, 0.355, 1); }

/* Lazy Loading
   ===========================================================*/
/* fade image in after load */
.lazyload,
.lazyloading {
  opacity: 0; }

.lazyloaded {
  opacity: 1;
  -webkit-transition: all 450ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 450ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 450ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 450ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 450ms cubic-bezier(0.645, 0.045, 0.355, 1); }

.element-fadein {
  opacity: 0;
  -webkit-animation: fadein 450ms .5s ease forwards;
  -moz-animation: fadein 450ms .5s ease forwards;
  -ms-animation: fadein 450ms .5s ease forwards;
  -o-animation: fadein 450ms .5s ease forwards;
  animation: fadein 450ms .5s ease forwards; }

/*--------------------------------------------------------------
# Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
# Grid Styles
--------------------------------------------------------------*/
.grid-wrap {
  list-style: none;
  margin-left: -40px; }

.column--2-of-2, .column--3-of-3, .column--4-of-4, .column--5-of-5, .column--6-of-6, .column--8-of-8, .column--12-of-12 {
  width: 100%; }

.column--1-of-2, .column--2-of-4, .column--3-of-6, .column--4-of-8, .column--6-of-12 {
  width: 50%; }

.column--1-of-3, .column--2-of-6, .column--4-of-12 {
  width: 33.3333333333%; }

.column--2-of-3, .column--4-of-6, .column--8-of-12 {
  width: 66.6666666667%; }

.column--1-of-4, .column--2-of-8, .column--3-of-12 {
  width: 25%; }

.column--3-of-4, .column--6-of-8, .column--9-of-12 {
  width: 75%; }

.column--1-of-5 {
  -webkit-box-flex: none;
  -webkit-flex: none;
  -moz-box-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  width: 20%; }

.column--2-of-5 {
  -webkit-box-flex: none;
  -webkit-flex: none;
  -moz-box-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  width: 40%; }

.column--3-of-5 {
  -webkit-box-flex: none;
  -webkit-flex: none;
  -moz-box-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  width: 60%; }

.column--4-of-5 {
  -webkit-box-flex: none;
  -webkit-flex: none;
  -moz-box-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  width: 80%; }

.column--1-of-6 {
  -webkit-box-flex: none;
  -webkit-flex: none;
  -moz-box-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  width: 16.6666666667%; }

.column--5-of-6 {
  -webkit-box-flex: none;
  -webkit-flex: none;
  -moz-box-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  width: 83.3333333333%; }

.column--1-of-8 {
  -webkit-box-flex: none;
  -webkit-flex: none;
  -moz-box-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  width: 12.5%; }

.column--3-of-8 {
  -webkit-box-flex: none;
  -webkit-flex: none;
  -moz-box-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  width: 37.5%; }

.column--5-of-8 {
  -webkit-box-flex: none;
  -webkit-flex: none;
  -moz-box-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  width: 62.5%; }

.column--7-of-8 {
  -webkit-box-flex: none;
  -webkit-flex: none;
  -moz-box-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  width: 87.5%; }

.column--1-of-12 {
  -webkit-box-flex: none;
  -webkit-flex: none;
  -moz-box-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  width: 8.3333333333%; }

.column--2-of-12 {
  -webkit-box-flex: none;
  -webkit-flex: none;
  -moz-box-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  width: 16.6666666667%; }

.column--5-of-12 {
  -webkit-box-flex: none;
  -webkit-flex: none;
  -moz-box-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  width: 41.6666666667%; }

.column--7-of-12 {
  -webkit-box-flex: none;
  -webkit-flex: none;
  -moz-box-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  width: 58.3333333333%; }

.column--10-of-12 {
  -webkit-box-flex: none;
  -webkit-flex: none;
  -moz-box-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  width: 83.3333333333%; }

.column--11-of-12 {
  -webkit-box-flex: none;
  -webkit-flex: none;
  -moz-box-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  width: 91.6666666667%; }

@media (max-width: 46.24em) {
  .column {
    width: auto; } }

@media (min-width: 61.25em) and (max-width: 81.24em) {
  .column.column--large-4-of-4, .column.column--large-3-of-3, .column.column--large-2-of-2 {
    width: 100%; }
    .column.column--large-4-of-4.column.grid-small-full .side-bar-pull_inside, .column.column--large-3-of-3.column.grid-small-full .side-bar-pull_inside, .column.column--large-2-of-2.column.grid-small-full .side-bar-pull_inside {
      margin-left: 0; }
  .column.column--large-1-of-2, .column.column--large-2-of-4 {
    width: 50%; }
  .column.column--large-1-of-3 {
    width: 33.3333333333%; }
  .column.column--large-2-of-3 {
    width: 66.6666666667%; }
  .column.column--large-1-of-4 {
    width: 25%; }
  .column.column--large-3-of-4 {
    width: 75%; } }

@media (min-width: 46.25em) and (max-width: 61.24em) {
  .column.column--medium-4-of-4, .column.column--medium-3-of-3, .column.column--medium-2-of-2 {
    width: 100%; }
    .column.column--medium-4-of-4.column.grid-small-full .side-bar-pull_inside, .column.column--medium-3-of-3.column.grid-small-full .side-bar-pull_inside, .column.column--medium-2-of-2.column.grid-small-full .side-bar-pull_inside {
      margin-left: 0; }
  .column.column--medium-1-of-2, .column.column--medium-2-of-4 {
    width: 50%; }
  .column.column--medium-1-of-3 {
    width: 33.3333333333%; }
  .column.column--medium-2-of-3 {
    width: 66.6666666667%; }
  .column.column--medium-1-of-4 {
    width: 25%; }
  .column.column--medium-3-of-4 {
    width: 75%; } }

@media (min-width: 30em) and (max-width: 46.24em) {
  .column[class*="column--small-"] {
    display: inline-block;
    margin-right: -.24em; }
  .column.column--small-4-of-4, .column.column--small-3-of-3, .column.column--small-2-of-2 {
    width: 100%; }
    .column.column--small-4-of-4.column.grid-small-full .side-bar-pull_inside, .column.column--small-3-of-3.column.grid-small-full .side-bar-pull_inside, .column.column--small-2-of-2.column.grid-small-full .side-bar-pull_inside {
      margin-left: 0; }
  .column.column--small-1-of-2, .column.column--small-2-of-4 {
    width: 50%; }
  .column.column--small-1-of-3 {
    width: 33.3333333333%; }
  .column.column--small-2-of-3 {
    width: 66.6666666667%; }
  .column.column--small-1-of-4 {
    width: 25%; }
  .column.column--small-3-of-4 {
    width: 75%; } }

.column-spacings {
  padding: 20px; }

/*Level Elements*/
.level-elements {
  /*@include align-items(center);*/ }

.level-left,
.level-right,
.footer-top .social {
  -webkit-flex-basis: auto;
  -moz-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.level-row {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.level-column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

@media (min-width: 46.25em) {
  .level-elements,
  .level-left,
  .level-right,
  .footer-top .social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
  .level-left {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start; }
  
  .level-right,
  .footer-top .social {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    margin-left: auto; }
  .page-nav__single-prev .level-right, .page-nav__single-prev .footer-top .social, .footer-top .page-nav__single-prev .social {
    margin-left: 0; } }

.flex-controlled, .footer-top .social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

@media (max-width: 46.24em) {
  .site-branding.flex-controlled, .footer-top .site-branding.social,
  .columns-wrap.flex-controlled,
  .footer-top .columns-wrap.social {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; } }

.equal-space {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.flex-column-end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

/*--------------------------------------------------------------
## Social
--------------------------------------------------------------*/
/*Widget Defaults.*/
.social__item {
  float: left;
  font-size: 20px;
  font-size: 1.25rem; }

.social__item:not(:last-child) {
  margin-right: 20px; }

.social__item a:hover, .social__item a:focus {
  color: #8e8e8e; }

.icon_wrap {
  display: inline-block;
  vertical-align: middle;
  position: relative; }

.widgets .social {
  padding-top: 40px; }

.widgets .social a {
  font-size: 30px;
  font-size: 1.875rem; }

/*--------------------------------------------------------------
# Button Control
--------------------------------------------------------------*/
.main-btn {
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  text-align: center;
  margin: 0;
  cursor: pointer;
  padding: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -webkit-transition: all 450ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 450ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 450ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 450ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 450ms cubic-bezier(0.645, 0.045, 0.355, 1); }
  .main-btn:hover, .main-btn:focus {
    text-decoration: none; }

.mobile-button {
  /*@include flex-center;*/
  width: 40px;
  height: 40px;
  background: red; }

/* Mobile Navigation Button
   ===========================================================*/
@media (min-width: 46.25em) {
  .site-header .mobile-menu-button {
    display: none; } }

.menu-active .mobile-menu-button {
  display: none; }

.back-top,
.mobile-menu-button,
.search-toggle {
  padding: 13px 30px; }
  @media (min-width: 46.25em) {
    .back-top,
    .mobile-menu-button,
    .search-toggle {
      padding: 13px 15px; } }

.block-button-empty {
  padding: 0;
  height: auto;
  width: auto;
  background-color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }
  .block-button-empty:hover, .block-button-empty:focus {
    background-color: inherit; }

.icon-left {
  padding-right: 10px; }

.icon-right {
  padding-left: 10px; }

.block-button-icon {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.block-button-icon svg {
  font-size: 25px;
  font-size: 1.5625rem; }

.page-nav .block-button {
  background-color: #f7f7f7;
  padding: 10px 15px; }

/*.mobile-menu-button{
	padding-left: $mobile-side-pad;
}*/
/* ==========================================================================
   #NAVIGATION
   ========================================================================== */
@media (max-width: 46.24em) {
  .mobile-header-control,
  .mobile-navigation {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 0;
    background-color: rgba(116, 118, 120, 0.2); } }

.primary-menu {
  margin: 0;
  padding: 0; }

.primary-menu a {
  display: block;
  padding: 13px 15px;
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #404040;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-decoration: none; }

.mobile-navigation .primary-menu a {
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px; }

.mobile-navigation .primary-menu ul {
  padding-left: 5%; }

@media (min-width: 46.25em) {
  .mobile-header-control,
  .mobile-header-control .search-toggle-menu {
    display: none; } }

.mobile-header-control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.main-navigation {
  display: none; }

@media (min-width: 46.25em) {
  .main-navigation {
    float: right;
    display: block; }
  .primary-menu li {
    float: left;
    margin: 0 10px 0 0;
    position: relative; }
  .primary-menu > li:last-child {
    margin-right: 0; }
  .primary-menu > li > a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
  .primary-menu > .menu-item-has-children > a {
    padding-right: 33px;
    position: relative; }
  .primary-menu > .menu-item-has-children > a::after {
    content: "";
    display: block;
    border: 5px solid transparent;
    border-top-color: #404040;
    position: absolute;
    z-index: 1001;
    right: 16px;
    top: 50%;
    margin-top: -2px; }
  .primary-menu > li:hover > a {
    color: #FFF;
    background: #00325f; }
  .primary-menu > .has-children:hover > a::after,
  .primary-menu > .menu-item-has-children:hover > a::after {
    border-top-color: #fff; }
  /* Drop Down Styling */
  .primary-menu ul {
    position: absolute;
    padding-top: 20px;
    margin-left: -110px;
    z-index: 150;
    opacity: 0;
    top: 45px;
    left: -9999px;
    -webkit-transition: opacity 450ms cubic-bezier(0.645, 0.045, 0.355, 1), top 450ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: opacity 450ms cubic-bezier(0.645, 0.045, 0.355, 1), top 450ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: opacity 450ms cubic-bezier(0.645, 0.045, 0.355, 1), top 450ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: opacity 450ms cubic-bezier(0.645, 0.045, 0.355, 1), top 450ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 450ms cubic-bezier(0.645, 0.045, 0.355, 1), top 450ms cubic-bezier(0.645, 0.045, 0.355, 1); }
  .primary-menu > ul {
    top: 30px; }
  .primary-menu ul:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    border: 10px solid transparent;
    border-bottom-color: #222;
    left: 50%;
    margin-left: -10px;
    top: 1px; }
  .primary-menu > li:hover > ul {
    opacity: 1;
    top: 40px;
    left: 50%; }
  .primary-menu ul li {
    margin: 0;
    float: none;
    display: block; }
  .primary-menu ul a {
    padding: 20px;
    width: 220px;
    background: #222;
    color: #FFF;
    border-bottom: 0;
    text-align: center;
    letter-spacing: 0;
    font-size: 13px;
    font-size: 0.8125rem;
    text-transform: none; }
  .primary-menu ul a:hover {
    color: #FFF;
    background: #00325f; }
  .primary-menu ul > li:first-child > a {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0; }
  .primary-menu ul > li:last-child > a {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -ms-border-radius: 0 0 3px 3px;
    -o-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px; } }

/* ==========================================================================
   #DEFAULT FORM LAYOUTS
   ========================================================================== */
/**
		 * A basic form reset
		 *
		 */
label {
  font-size: 15px;
  font-size: 0.9375rem;
  cursor: pointer; }

.label-checkbox,
.label-radio {
  font-size: 1.125rem; }

input {
  display: block; }

input[type="checkbox"],
input[type="radio"] {
  display: inline-block; }

input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
  font-size: 15px;
  font-size: 0.9375rem;
  border: 1px solid;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border-color: grey;
  background-color: white;
  padding: 10px; }
  @media (min-width: 46.25em) {
    input[type="number"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    textarea,
    select {
      padding: 13px; } }

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
  width: 100%; }

textarea {
  min-height: 200px; }

/**
		 * Comment/Review Submit Button
		 */
input[type="submit"],
input[type="reset"],
input[type="button"] {
  width: 100%;
  font-size: 18px;
  font-size: 1.125rem;
  text-transform: uppercase;
  background-color: red;
  color: white;
  line-height: 1;
  border-radius: 4px;
  /*			padding-top: $site-header-padding - 5px;
			padding-bottom: $site-header-padding - 5px;*/ }
  input[type="submit"]:hover, input[type="submit"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:focus,
  input[type="button"]:hover,
  input[type="button"]:focus {
    background-color: #404040;
    text-decoration: none; }
  @media (min-width: 46.25em) {
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
      /*width: 46.5%;*/ } }

.header-search input[type="search"] {
  border: none;
  font-size: 25px;
  font-size: 1.5625rem;
  opacity: 1;
  color: white;
  background-color: transparent; }
  .header-search input[type="search"]::-webkit-input-placeholder {
    font-size: 25px;
    font-size: 1.5625rem;
    opacity: 1;
    color: white; }
  .header-search input[type="search"]:-moz-placeholder {
    font-size: 25px;
    font-size: 1.5625rem;
    opacity: 1;
    color: white; }
  .header-search input[type="search"]::-moz-placeholder {
    font-size: 25px;
    font-size: 1.5625rem;
    opacity: 1;
    color: white; }
  .header-search input[type="search"]:-ms-input-placeholder {
    font-size: 25px;
    font-size: 1.5625rem;
    opacity: 1;
    color: white; }

.form-control {
  position: relative;
  text-align: left; }

.form-control.has-icon .icon {
  color: white;
  height: 100%;
  position: absolute;
  top: 0;
  width: 50px;
  z-index: 4;
  cursor: pointer; }

.form-control.has-icons-left .icon.is-left {
  left: 0; }

.form-control.has-icons-right .icon.is-right {
  right: 0; }

.form-control.has-icons-left .icon, .form-control.has-icons-right .icon {
  color: white;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 4; }

.has-icons-right.search-form-inline button[type="submit"].icon.is-right {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  border: 1px solid #404040;
  background-color: #404040; }
  .has-icons-right.search-form-inline button[type="submit"].icon.is-right:hover, .has-icons-right.search-form-inline button[type="submit"].icon.is-right:focus {
    border-color: #047e88;
    background-color: #047e88; }

.has-icons-right.search-form-inline input {
  background-color: #f7f7f7;
  padding-right: 50px;
  border-color: #f7f7f7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  color: #404040;
  text-transform: uppercase; }
  .has-icons-right.search-form-inline input:hover, .has-icons-right.search-form-inline input:focus {
    border-color: #047e88; }
  .has-icons-right.search-form-inline input::-webkit-input-placeholder {
    font-size: 12px;
    font-size: 0.75rem;
    color: #404040; }
  .has-icons-right.search-form-inline input:-moz-placeholder {
    font-size: 12px;
    font-size: 0.75rem;
    color: #404040; }
  .has-icons-right.search-form-inline input::-moz-placeholder {
    font-size: 12px;
    font-size: 0.75rem;
    color: #404040; }
  .has-icons-right.search-form-inline input:-ms-input-placeholder {
    font-size: 12px;
    font-size: 0.75rem;
    color: #404040; }

/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/
/*Widget Defaults.*/
.widgets ul:not(:last-child),
.widgets li:not(:last-child),
.widgets ol:not(:last-child),
.widgets li:not(:last-child) {
  margin-bottom: 10px;
  padding: 0; }

.widgets,
.widget h2,
.widget-title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-size: 1.25rem;
  text-align: left;
  margin-bottom: 20px;
  color: #404040; }

.widgets li,
.widgets p,
.widgets a {
  color: #404040;
  text-decoration: none;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 400; }

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.blog-body,
.post-entry-meta {
  background-color: #f7f7f7; }

.post-spacing {
  padding: 13.3333333333px 20px; }

.hentry, .post {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: white; }

.post-entry-meta {
  font-family: Verdana, Geneva, sans-serif;
  color: #aaaaaa;
  font-weight: 700;
  font-size: 12px;
  font-size: 0.75rem; }

.post-entry-meta li,
.post-entry-meta svg,
.post-entry-meta i,
.post-entry-meta .nice-likes {
  margin-right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 0; }

.post-entry-meta i {
  font-size: 20px;
  font-size: 1.25rem; }

.post-entry-meta a {
  color: #aaaaaa;
  text-decoration: none;
  margin: 0; }
  .post-entry-meta a:hover, .post-entry-meta a:focus {
    text-decoration: none;
    color: #404040; }

.post-entry-meta ul {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start; }

.post-entry-meta ul li.likes {
  margin-left: auto; }

.post-entry-excerpt.post-spacing,
.post-title.post-spacing {
  padding-top: 30px;
  padding-bottom: 30px; }

.post-title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
  font-weight: 700;
  font-size: 25px;
  font-size: 1.5625rem; }

.post-title a {
  color: #404040;
  text-decoration: none; }
  .post-title a:hover, .post-title a:focus {
    text-decoration: underline;
    color: #404040; }

.post-entry-video iframe,
.format-image .post-entry-image img {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px; }

.byline, .updated:not(.published) {
  display: none; }

/*
.single .byline, .group-blog .byline {
    display: inline;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}*/
.post-copy p {
  font-family: Verdana, Geneva, sans-serif;
  color: #aaaaaa;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 27px; }

.page-nav {
  background-color: #eaeaea;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #aaaaaa;
  font-weight: 700;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #404040; }

.page-nav a {
  color: #404040;
  text-decoration: none; }

.page-nav__single-next {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start; }

.page-nav__single-prev {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

.g-recaptcha div {
  margin: auto; }

.comment-subscription-form {
  text-align: center; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption .wp-caption-text {
  margin: 0;
  font-size: 13px;
  font-size: 0.8125rem; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery-caption {
  display: block;
  text-align: left; }

/*--------------------------------------------------------------
# Page Elements
--------------------------------------------------------------*/
h1, h2, h3, h4, h5 {
  margin: 0; }

p:not(:last-child) {
  margin-bottom: 20px; }

.site-module {
  padding: 40px 30px; }
  @media (min-width: 46.25em) {
    .site-module {
      padding: 40px; } }

.columns-wrap {
  margin-left: -20px;
  margin-right: -20px; }

.has-text-centered,
.wp-caption-text {
  text-align: center;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/
.header-search {
  background-color: #00325f; }

.site-header {
  border-top: 5px solid #00325f; }

.site-branding {
  margin-bottom: 30px; }
  @media (min-width: 46.25em) {
    .site-branding {
      margin-bottom: 0;
      float: left; } }
  .site-branding .site-title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    text-transform: uppercase;
    max-width: 250px; }
    @media (min-width: 46.25em) {
      .site-branding .site-title {
        font-size: 18px;
        font-size: 1.125rem; } }
  .site-branding .site-title a {
    color: #00325f;
    text-decoration: none; }

.site-branding .site-title {
  margin-top: 30px; }
  @media (min-width: 46.25em) {
    .site-branding .site-title {
      margin-top: 0;
      margin-left: 40px; } }

.site-branding__hero-logo {
  color: #00325f;
  max-width: 300px;
  display: block; }
  @media (min-width: 46.25em) {
    .site-branding__hero-logo {
      max-width: 250px; } }
  .site-branding__hero-logo:hover, .site-branding__hero-logo:focus {
    color: #747678; }

/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/
.site-footer__bottom,
.site-footer__hero-logo {
  color: #b5b5b5; }

.site-footer__bottom {
  background-color: #f7f7f7;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-size: 0.75rem; }
  @media (min-width: 46.25em) {
    .site-footer__bottom {
      font-size: 15px;
      font-size: 0.9375rem; } }

.footer-top {
  background-color: #eaeaea;
  border-top: 3px solid #f7f7f7; }

.footer-top .social {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start; }

.site-footer__hero-logo {
  width: 110px;
  margin-left: auto; }

.credits-inner {
  /*margin-top: $mobile-side-pad;*/
  /*@include flexbox;*/
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end; }
  @media (min-width: 46.25em) {
    .credits-inner {
      margin-top: 0; } }

.credits-inner p {
  margin: 0; }

.credits-inner .title {
  color: #939090; }

@media (min-width: 46.25em) {
  .credits-inner p:first-child {
    line-height: 25px; } }

@media (max-width: 46.24em) {
  .credits-inner {
    padding-right: 40px; }
  .credits-inner p:first-child {
    margin-bottom: 8px; }
  .site-footer__hero-logo {
    width: 80px; } }
