/**
 * This shall stop the z-index chaos
 */

$zindex-bottom: 1010;     // Ads
$zindex-lower: 1015; // Modals and overlays inside content
$zindex-middle: 1020;  // Sticky header
$zindex-medium-high: 1030;   // Search modal
$zindex-high: 1040; // Breaking news
$zindex-highest: 1050; // Lightbox
