/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/



.site-footer__bottom,
.site-footer__hero-logo {
	color: $off-grey-footer;
}

.site-footer__bottom {
	background-color: $off-white-footer;
	@include font-family(helvetica);
	@include font-weight(normal);
	@include font-size(12px);
	
	@include mq(tablet) {
		 @include font-size(15px);
	}
}




//
// Upper Footer
//




.footer-top {
	background-color: $page-nav-grey;
	border-top: 3px solid $off-white-footer;
}


.footer-top .social {
	@extend .flex-controlled;
	/*@extend .level-right;*/
	@include align-items(flex-start);
	list-style: none;
	
}


//
// Footer Logo
//



.site-footer__hero-logo {
	width: 110px;
	margin-left: auto;
}




//
// Footer Credits
//



.credits-inner {
	/*margin-top: $mobile-side-pad;*/
	/*@include flexbox;*/
	@include align-items(flex-start);
	
	@include mq(tablet) {
		 margin-top: 0;
	}
}

.credits-inner p {
	margin: 0;
}

.credits-inner .title {
	color: $off-grey-footer-tint;
}

.credits-inner p:first-child {
	
	@include mq(tablet) {
		line-height: 25px;
	}
}


.university-links {
	margin-bottom: 7px;
	list-style: none;
	margin-top: 10px;
	@include flexbox;
	@include flex-direction(column);
	
	
	@include mq(tablet) {
	@include flex-direction(row);
	}
	
}


.university-links li {
	display: inline-block;
}

.university-links li a{
	color: $off-grey-footer-tint;
	text-decoration: none;
	
	@include hocus() {
		  text-decoration: underline;
	}
	
}



.university-links li:not(:last-child):after {
	
	@include mq(tablet) {
		content: "|";
		margin: 0 5px;
	}
}


//
// Mobile Styles
//





@include mq($until:tablet) {
	
	
	.footer-top.site-module,
	.page-nav.site-module {
		padding-left: $post-spacing *2 ;
		padding-right: $post-spacing *2 ;
	}
	
	
	
	.credits-inner {
		padding-right: 0;
	
	}
	
	.credits-inner p:first-child {
		margin-bottom: 8px;
	}
	
	.site-footer__bottom {
		
		
	}
	
	
	.site-footer__hero-logo {
		width: 33.3333%;
		margin: 20px 0 0;
	}
	
	
	.site-footer__bottom .module-inner-wrap {
		@include flex-direction(column);
		
	}
	

}
