/*--------------------------------------------------------------
# Page Elements
--------------------------------------------------------------*/


h1,h2,h3,h4,h5 {
	margin: 0;
}


p:not(:last-child) {
	margin-bottom: $paragraph-spacing;
}

.site-module {
	
	padding: $desktop-side-pad $mobile-side-pad;
	
	@include mq(tablet) {
		padding: $desktop-side-pad ;
	}

}


.blog-body.site-module {
	padding: 0;
	
	@include mq(tablet) {
		
	}
	
}


.site-header.site-module {
	
	@include mq($until:tablet) {
		padding-bottom: 0;
	}
}


.columns-wrap {
	
	@include mq(desktop) {
		margin-left: -$desktop-side-pad / 2;
		margin-right: -$desktop-side-pad / 2;
	}
}


	@include mq(desktop) {
	
	}

	@include mq(wide) {
		
	}

	@include mq(extraWide) {
		
	}
	
	
	
.has-text-centered,
.wp-caption-text {
    text-align: center;
	@include inline-flex;
	@include align-items(center);
	@include justify-content(center);
	
}


.empty-image-container {
	@include uni-gradient;
	@include flex-center;
	min-height: 50vh;
}



.home-hero-banner .empty-image-container {
	
	@include mq(tablet) {
		@include justify-content(flex-end);
		padding-right: $desktop-side-pad;
		min-height: 370px;
	}
	
	@include mq(tablet) {

		min-height: 570px;
	}
	
	
}
.home-hero-banner .empty-image-container svg{
	
	display: none;
	
	@include mq(tablet) {
		
		display: block;
	}
	
}

.post-article-container .empty-image-container {
	@include uni-gradient;
	@include flex-center;
	min-height: 250px;
}


.post-article-container .empty-image-container svg {
	color: white;	
		width: 35%;
		
	@include mq(tablet) {
	}
	
	
}



.empty-image-container svg {
	color: white;	
		width: 35%;
		
	@include mq(tablet) {
		width: 15%;
	}
	
	
}
