/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/


$blockquote-spacing: 45px !default;


blockquote::before, blockquote::after {
	content: "";
}


//
// Posts Strucutre
//




.blog-body,
.post-entry-meta {
	background-color: $off-white-footer;
	//display: inline-block;
}

.format-gallery {
	.blog-body, .post-entry-meta {
		background-color: $off-white-footer;
		display: inline-block;
		width: 100%;
	}
}

.visual-layout .post-entry-meta {
	background-color: transparent;
}


.post-spacing {
	padding: $desktop-side-pad / 3 $desktop-side-pad / 2;
}

.button-spacing {
	margin: $desktop-side-pad / 3 $desktop-side-pad / 2 25px;
	@include button-padding;

	@include mq(tablet) {
		  top: 70px;
		  bottom: 70px;
	}
}






//
// Hero Banner
//




.home-hero-banner{
	margin-bottom: $desktop-side-pad / 2;

	/*height: 25vh;*/

	@include mq($until:tablet) {
		height: 25vh;
	}

	@include mq(tablet) {
		padding-top: $desktop-side-pad;
	/*height: 50vh;*/
	}
}


.home-hero-banner .post-meta-likes{
	display: none;

	@include mq(tablet) {
	@include flexbox;
	}
}


.post-slider,
.post-slider *:not(.slick-arrow) {
	/*height: 100%;
	width: 100%;*/
	object-fit: cover;
}


.home-hero-banner__transparent-block {

  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  z-index: $zindex-middle;

  @include flexbox;
  @include align-items(center);
  @include justify-content(flex-start);

  @include mq(tablet) {
	  top: 70px;
	  bottom: 70px;
  }


}


.home-hero-banner__detail {
	  background-color: rgba($uni-blue-hex, 0.6);
}


.home-hero-banner__title {
	@include font-size(20px);
	@include font-family(helvetica);
	@include font-weight(black);
	margin: 0 0 $mobile-side-pad /2;

	@include mq(tablet) {
		@include font-size(35px);
		margin: 0 0 $mobile-side-pad;
	}

}

.home-hero-banner__detail,
.home-hero-banner__detail a {
	color: white;
	text-decoration: none;
	text-align: left;
}





.home-hero-banner__detail li.date,
.home-hero-banner__detail li.likes {
	margin-right: 20px;
}


.post-entry-meta .likes-count,
.home-hero-banner__detail .likes-count {
	padding-right: 5px;
}

.home-hero-banner__detail li a {
	padding-bottom: 5px;
}

.home-hero-banner__detail li.date a{
	border-bottom: 2px solid white;
}

//
// Post Blocks
//




@mixin inline-row {
	@include flexbox;
	@include align-items(center);
	@include flex-direction(row);

}



.hentry,.post {
	@include vendor(border-radius, $small-border-radius);
 	@include vendor(box-shadow, 0 0 5px rgba(0, 0, 0, 0.2) );
 	background-color: white;
}


.visual-layout {
	position: relative;

	&.hentry,&.post {
		@include vendor(border-radius, 0);
	 	background-color: white;
	}


}

.home.blog .visual-layout.odd-post {

	&.hentry,&.post {
	 	background-color: $uni-blue;
	}

}


.home.blog .visual-layout.even-post {

	&.hentry,&.post {
	 	background-color: white;
	}

}


.home.blog .visual-layout.odd-post.format-standard,
.home.blog .visual-layout.even-post.format-standard {

	.post-spacing {
		padding-left: $desktop-side-pad;
		padding-right: $desktop-side-pad;
	}

	.post-spacing.post-copy {
		padding-top: 5px;
	}

	.button-spacing {
		margin-left: $desktop-side-pad;
		margin-bottom: $desktop-side-pad;
	}

	.post-copy p {
		@include font-size(15px);
		line-height: 24px;
	}

	.read-more {
		color: $uni-blue;
	}


}


.home.blog .visual-layout.odd-post.format-gallery,
.home.blog .visual-layout.even-post.format-gallery,
.home.blog .visual-layout.odd-post.format-image,
.home.blog .visual-layout.even-post.format-image {

	@include mq($until:desktop) {

		.post-spacing {
			padding-left: $desktop-side-pad;
			padding-right: $desktop-side-pad;
		}

		.post-spacing.post-copy {
			padding-top: 5px;
		}

		.button-spacing {
			margin-left: $desktop-side-pad;
			margin-bottom: $desktop-side-pad;
		}

		.post-copy p {
			@include font-size(15px);
			line-height: 24px;
		}

		.read-more {
			color: $uni-blue;
		}

	}
}




.visual-layout.hentry {
	background-size: cover;
}


.visual-layout .post-entry-visual-meta {

	color: white;


	@include mq(desktop) {
		max-width: 75%;
		position: absolute;
	top: $desktop-side-pad /2;
	left: $desktop-side-pad/2;
	right: $desktop-side-pad/2;
	z-index: $zindex-medium-high;
	@include background-colour($uni-blue,0.5)
	}

}


//
// Post Date, Likes Etc
//


[class^="nice-likes-icon-"]::before, [class*=" nice-likes-icon-"]::before {
	width: 25px;
}

.home-hero-banner__detail,
.post-entry-meta {
	@include font-family(verdana);
	color: $post-meta;
	@include font-weight(black);
	@include font-size(12px);
}

.home-hero-banner__detail {
	color: white;
}


.home-hero-banner__detail li,
.home-hero-banner__detail svg,
.home-hero-banner__detail i,
.home-hero-banner__detail .nice-likes,
.post-entry-meta li,
.post-entry-meta svg,
.post-entry-meta i,
.post-entry-meta .nice-likes {
	margin-right: 10px;
	@include inline-row;
	margin-bottom: 0;
}


.visual-layout .home-hero-banner__detail li,
.visual-layout .home-hero-banner__detail svg,
.visual-layout .home-hero-banner__detail i,
.visual-layout .home-hero-banner__detail .nice-likes,
.visual-layout .post-entry-meta li,
.visual-layout .post-entry-meta svg,
.visual-layout .post-entry-meta i,
.visual-layout .post-entry-meta .nice-likes {


	@include mq($until:desktop) {
		@include font-size(15px);
	}

}


.home-hero-banner__detail i,
.post-entry-meta i {
	@include font-size(20px);

}

.post-entry-meta a{
	color: $post-meta;
	text-decoration: none;
	margin: 0;

	@include hocus() {
		  text-decoration: none;
		  color: $base-black;
	}

}



.visual-layout .post-entry-meta,
.visual-layout .post-entry-meta a {
	color: white;
}


.home.blog .post-entry-meta ul {
	@include justify-content(flex-start);
}

.home.blog .post-entry-meta ul li.likes {
	margin-left: auto;
}

.home.blog  .visual-layout .home-hero-banner__detail .date,
.home.blog  .visual-layout .post-entry-meta .date {
	@include flexbox;
	@include align-items(center);
	margin-bottom: 10px;

}

.home.blog  .visual-layout .post-entry-meta ul li.likes {
	margin-left: 0;
}


//
// Post Title, Body Copy
//



.post-entry {
	text-align: center;
}

.post-entry img {
	display: inline-block;
}


.post-entry-excerpt.post-spacing,
.post-title.post-spacing {
	padding-top: $mobile-side-pad;
	padding-bottom: $mobile-side-pad;
}


.post-title.post-spacing + .post-entry-excerpt.post-spacing {
	padding-top: 0;
}

.visual-layout .post-title + .post-entry-meta {
	margin-top: -$mobile-side-pad;
}


.post-title {
	@include font-family(helvetica);
	color: $base-black;
	@include font-weight(black);
	@include font-size(20px);

	@include mq(tablet) {
		@include font-size(25px);
	}
}


.home.blog  .visual-layout .post-title {

	@include font-size(20px);

	@include mq(desktop) {
		@include font-size(30px);
	}
}




.visual-layout.odd-post .post-title a,
.visual-layout .post-entry-visual-meta .post-title a,
.visual-layout.odd-post .post-entry-excerpt p{
	color: white;
}


.visual-layout.even-post.format-image .post-entry-meta,
.visual-layout.even-post.format-image .post-entry-meta a,
.visual-layout.even-post.format-image .post-entry-meta a,
.visual-layout.even-post.format-image .post-title a,
.visual-layout.even-post.format-image .post-entry-excerpt p,
.visual-layout.even-post.format-gallery .post-entry-meta,
.visual-layout.even-post.format-gallery .post-entry-meta a,
.visual-layout.even-post.format-gallery .post-entry-meta a,
.visual-layout.even-post.format-gallery .post-title a,
.visual-layout.even-post.format-gallery .post-entry-excerpt p {
	color: $uni-blue;

	@include mq(desktop) {
		color: white;
	}

}


.visual-layout.even-post:not(.format-image,.format-gallery) .post-entry-meta,
.visual-layout.even-post:not(.format-image,.format-gallery) .post-entry-meta a,
.visual-layout.even-post:not(.format-image,.format-gallery) .post-entry-meta a,
.visual-layout.even-post:not(.format-image,.format-gallery) .post-title a,
.visual-layout.even-post:not(.format-image,.format-gallery) .post-entry-excerpt p {
	color: $uni-blue;

}


.post-title a {
	color: $base-black;
	 text-decoration: none;

	@include hocus() {
		  text-decoration: underline;
		  color: $base-black;
	}

}



.post-entry-video iframe{
	@include vendor(border-radius, 0 0 $small-border-radius $small-border-radius);
}

.format-image .post-entry-image img {
	@include vendor(border-radius, $small-border-radius $small-border-radius 0 0);
}


.visual-layout .format-image .post-entry-image img{
	@include vendor(border-radius, 0);
}



.byline, .updated:not(.published) {
    display: none;
}
/*
.single .byline, .group-blog .byline {
    display: inline;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}*/





.post-copy p{
	@include font-family(verdana);
	color: $post-meta;
	@include font-size(17px);
	line-height: 27px;
}








//
// Post Blocks
//




.page-nav {
	background-color: $page-nav-grey;
	@include font-family(helvetica);
	color: $post-meta;
	@include font-weight(black);
	@include font-size(15px);
	color: $base-black;
}

.page-nav a {
	color: $base-black;
	text-decoration: none;
}

.page-nav__single-next {
	@include justify-content(flex-start);

}


.page-nav__single-prev {
	@include justify-content(flex-start);
}


.home-hero-banner {
	position: relative;
}




//
// Post Single Page
//


.narrow {
	max-width: 750px;
	margin: 0 auto;
}


.post-entry {

	@include mq(tablet) {
		padding-top: $post-spacing *2;
	}
}


.post-body {
	padding: $post-spacing  0 0;

	@include mq(tablet) {
		padding: $post-spacing /2 0 0;
	}

}


.post-body .post-entry-meta {
	background-color: transparent;
	@include font-size(13px);
	padding-bottom: $mobile-side-pad;
}

.post-body .post-entry-meta,
.post-body .post-entry-meta a {
	color:  $off-base-black;
}

.post-body .flex-controlled {
	@include align-items(center);
	@include justify-content(center);

}

.post-head:after{
	content: "";
	display: block;
	width: 50%;
	height: 4px;
	background: $off-base-black;
	margin: 40px auto;
}

.post-archive .post-title,
.post-body .post-title {
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	@include font-weight(black);
	@include font-size(45px);

	color: $base-black;
}


.post-head {
		text-align: center;
		padding: 0 $post-spacing /2;

	@include mq(tablet) {
		padding: $post-spacing +20px 0;
	}

}




//
// Post Single Page Text Styling
//


.post-content {

	padding: 0 $post-spacing *2 $post-spacing *2;

	@include mq(tablet) {
		padding: 0 0 $post-spacing *2;

	}

}


.post-content > :first-child {

    margin-top: 0;

}

.post-content :last-child {
    margin-bottom: 0;
}

.comments-title,
.comment-notes,
.post-content {
	color: $off-base-black;
	@include font-family(serif);
	@include font-size(22px);
}

.post-content p,
.post-content blockquote,
.post-content ul,
.post-content ol,
.post-content li,
.post-content address,
.post-content dl,
.post-content .wp-caption,
.post-content pre {
	line-height: 33px;
	margin-bottom: $paragraph-spacing;
}




.post-content ul, .post-content ol {
	margin-left: 0;
	padding-left: $post-spacing;

	@include mq(tablet) {
		margin-left: $paragraph-spacing *2;
		padding-left: 0;

	}

}


.post-content ul {
	list-style: disc;
}

.post-content li {
	margin-bottom: $paragraph-spacing /2;
	line-height: 1;
}


.post-content a {
	color: inherit;
	border-bottom: 1px solid $base-black;
	text-decoration: none;
	padding-bottom: 5px;

	@include hocus() {
		border-bottom-color: #928452;
	}

}


.comments-title,
.comment-reply-title,
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6  {
	@include font-family(helvetica);
	color: $base-black;
	@include font-weight(black);
	margin-bottom: 35px;
	margin-top: 65px;
}


.post-content h1,
.post-content h2 {
	@include font-size(33px);
	line-height: 39px;
}

.post-content h3 {
	@include font-size(25px);
	line-height: 36px;
}


.post-content h4 {
	@include font-size(22px);
	line-height: 34px;
}

.post-content h5,
.post-content h6 {
	@include font-size(22px);
	line-height: 34px;
}




//
// Post Single Page Blockquotes
//




.post-content blockquote{
	background-color: $off-white-footer;
	margin: 0;
	padding: $blockquote-spacing $blockquote-spacing*3 $blockquote-spacing $blockquote-spacing;
	border-left: 4px solid $off-grey-footer;
	position: relative;
	margin-bottom: $paragraph-spacing;
}

.post-content blockquote::after {
	@include font-family(serif);
	@include font-size(100px);
	content: "”";
	color: $off-grey-footer;
	@include font-weight(black);
	position: absolute;
	top: $blockquote-spacing *2;
	right: $blockquote-spacing;
	line-height: 0;
}

.post-content blockquote p:last-child {
	margin-bottom: 0;
}

.post-content blockquote p:not(:last-child) {
	margin-bottom: 25px;
}



//
// Post Single Page HR
//




.post-content hr {
	border: none;
	width: 100%;
	height: 1px;
	display: block;
	margin: $paragraph-spacing*2 auto;
	background-color: $off-grey-footer;
}



/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.g-recaptcha div {
	margin: auto;
}

.comment-subscription-form {
	text-align: center;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0;
	@include font-size(13px);
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

.gallery-caption {
    display: block;
    text-align: left;
}
