/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/






//
// Search Banner
//


.header-search {
	background-color: $uni-blue;
}





//
// Site Banner
//



.site-header {
	border-top: 5px solid $uni-blue;
}



.site-header > .module-inner-wrap {
	display: flex;

	@include mq($until:desktop) {
		flex-wrap: wrap;
	}
}


//
// Site Branding
//



.site-branding {
	flex-grow: 1;
	@include mq($until:tablet) {
		width: 100%;
	}
}


.site-branding {

   margin-bottom: $mobile-side-pad;


   @include mq(tablet) {
   margin-bottom: 0;
   	float: left;

   }

   	.site-title {
     @include font-family(helvetica);
     @include font-weight(black);
     @include font-size(16px);
     text-transform: uppercase;
     max-width: 200px;


	 @include mq(tablet) {
		  @include font-size(18px);
	 }

	 	@include mq($until:tablet) {
			width: 100%;
			max-width: 100%;
		}
  }


  .site-title a {
  	color: $uni-blue;
  	text-decoration: none;
  }

}





.site-branding__hero-wording {

	@include flexbox;
	@include justify-content(center);
	@include flex-direction(column);

	margin-top: $mobile-side-pad;

	@include mq(tablet) {
		 margin-top: 0;
		 margin-left: $desktop-side-pad;
	}



}



.site-branding__hero-logo {
	color: $uni-blue;
	max-width: 300px;
	display: inline-flex;
	align-items: center;

	@include mq(tablet) {

	max-width: 250px;

	}

	@include hocus() {
		color: $uni-grey;
	}


}






	@include mq(desktop) {

	}

	@include mq(wide) {

	}

	@include mq(extraWide) {

	}
